<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
	<head th:fragment="css">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  

	</head>
	
	<head th:fragment="js">
		<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
		<script
		  	src="https://code.jquery.com/jquery-3.3.1.min.js"
		  	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  	crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	</head>
</head>

<body>
	<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/">SIPEG</a>
	  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item" th:classappend="${home} ? 'active' : '' ">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item" th:classappend="${tambahpegawai} ? 'active' : '' ">
	        <a class="nav-link" th:href="@{/pegawai/tambah}">Tambah Pegawai</a>
	      </li>
	      <li class="nav-item" th:classappend="${tambahjabatan} ? 'active' : '' ">
	        <a class="nav-link" th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
	      </li>
	      <li class="nav-item" th:classappend="${caripegawai} ? 'active' : '' ">
	        <a class="nav-link" th:href="@{/pegawai/cari}">Cari Pegawai</a>
	      </li>
	      <li class="nav-item" th:classappend="${lihatsemuajabatan} ? 'active' : '' ">
	        <a class="nav-link" th:href="@{/jabatan/viewAll}">Lihat Semua Jabatan</a>
	      </li>
	    </ul>
	  </div>
	</nav>
		
</body>
</html>