<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
	<title>Home</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="jumbotron text-center">
	  <h1 class="display-3">Sistem Informasi Kepegawaian</h1>
	  <p class="lead">Selamat Datang di Sistem Informasi Kepegawaian</p>
	  <hr class="my-2">
	  <h3 >Lihat data kepegawaian berdasarkan NIP</h3>
	  <div class="lead">
	  	<form th:action="@{/pegawai}"  method="GET">
		  	<div class="form-group">
			    <label for="nip">Masukkan Nomor Induk Pegawai:</label>
			    <br>
				<input type="text" name="nip"/>
			</div>
			<button class="btn btn-primary btn-md" type="submit">Lihat</button>
		</form>
	  </div>
	  <hr class="my-2">
	  <h3 >Lihat detail jabatan</h3>
	  <div class="lead">
	  	<form th:action="@{/jabatan/view}"  method="GET">
		  	<div class="form-group">
			    <label for="idJabatan">Pilih Jabatan:</label>
			    <br>
				<select name = "idJabatan">
				    <option th:each="i : ${jabatan}" th:value="${i.id}" th:text="${i.nama}">
				    </option>
				</select>
			</div>
			<button class="btn btn-primary btn-md" type="submit">Lihat</button>
		</form>
	  </div>
	  <hr class="my-2">
	  <h3 >Lihat pegawai termuda dan tertua di suatu instansi</h3>
	  <div class="lead">
	  	<form th:action="@{/pegawai/termuda-tertua}"  method="GET">
		  	<div class="form-group">
			    <label for="idInstansi">Pilih Instansi:</label>
			    <br>
				<select name = "idInstansi">
				    <option th:each="i : ${listInstansi}" th:value="${i.id}" th:text="${i.nama}">
				    </option>
				</select>
			</div>
			<button class="btn btn-primary btn-md" type="submit">Lihat</button>
		</form>
	  </div>
	  
	</div>
	
	
		
	
</body>
</html>