<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
	<title>Tambah Jabatan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="background-color:#e9ecef;">
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container-fluid" style="background-color:#e9ecef;">
		<div class="row" style="background-color:#e9ecef;">
            <div class="col-md-12" style="background-color:#e9ecef;">
                <div class="card" style="background-color:#e9ecef;">
                    <div class="card-header text-center">
                        <h2>Tambah Jabatan</h2>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/jabatan/tambah}" th:object="${jabatan}" method="POST">
                            Nama: <br>
                            <input type="text" name="nama" class="form-control"/>
                            <br>
                            Deskripsi: <br>
                            <input type="text" name="deskripsi" class="form-control"/>
                            <br>
                            Gaji Pokok: <br>
                            <input type="number" name="gajiPokok" class="form-control"/>
                            <br><br>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	</div>
	
</body>
</html>