<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
	<title>Tambah Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class=" container container-fluid" th:object="${pegawai}">
		<h3 th:text="'Tambah Pegawai'"> </h3>
		<form th:action="@{/pegawai/tambah/}" th:object="${pegawai}" id="formPegawai" method="post">
			<table class="table table-borderless">
				<tbody>
					<tr>
						<td>Nama</td>
						<td>
							<input class="form-control" type="text" name="nama" required="required" th:value="*{nama}"/>
						</td>
					</tr>
					<tr>
						<td>Tempat Lahir</td>
						<td>
							<input class="form-control" type="text" name="tempatLahir" required="required" th:value="*{tempatLahir}"/>
						</td>
					</tr>
					<tr>
						<td>Tanggal Lahir</td>
						<td>
							<input class="form-control" type="date" name="tanggalLahir" required="required" th:value="*{tanggalLahir}"/>
						</td>
					</tr>
					<tr>
						<td>Tahun Masuk</td>
						<td>
							<input class="form-control" type="text" name="tahunMasuk" required="required" th:value="*{tahunMasuk}"/>
						</td>
					</tr>
					<tr>
						<td>Provinsi</td>
						<td>
							<span th:if="*{instansiPegawai}">
								<select class="form-control" required="required" name="provinsi" 
								id="provinsi" th:value="*{instansiPegawai.provinsi}">
									<option th:each="provinsi, index : ${listProvinsi}" 
									th:value ="${provinsi.id}" th:text = "${provinsi.nama}"
									th:selected = "*{instansiPegawai.provinsi.id}"></option>
								</select>
							</span>
							<span th:unless="*{instansiPegawai}">
								<select class="form-control" required="required" name="provinsi"
								id="provinsi" th:value="${listProvinsi}" >
									<option th:each="provinsi, rowstat : ${listProvinsi}" th:value="${provinsi.id}"
									th:text="${provinsi.nama}">
									</option>
								</select>
							</span>
						</td>
					</tr>
					<tr>
						<td>Nama Instansi</td>
						<td>
							<!-- if instansi != null -->
							<span th:if="*{instansiPegawai}">
								<select class="form-control" required="required" name="instansi" 
								id="instansi" th:value="*{instansiPegawai}" form="formPegawai">
									<option th:value="*{instansiPegawai.id}" selected="selected" th:text="*{instansiPegawai.nama}"></option>
									<option th:each="instansi, index : ${listInstansi}" 
									th:value ="${instansi.id}" th:text = "${instansi.nama}"></option>
								</select>
							</span>
							
							<!-- if instansi == null -->
							<span th:unless="*{instansiPegawai}">
								<select th:field="*{instansiPegawai}" class="form-control" required="required" name="instansi"
								id="instansi" th:value="*{instansiPegawai}" >
									<option th:each="instansi : ${listInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}"></option>
								</select>
							</span>
						</td> 
					</tr>
					<tr>
						<td>Jabatan</td>
						<td>
							<span th:each="jabatan, iterStat : *{jabatanPegawai}">
								<select class="form-control" name="jabatan">
									<option th:each="j : ${listJabatan}" th:field="*{jabatanPegawai[__${iterStat.index}__]}" th:value="${j.id}" th:text="${j.nama}"></option>
								</select>
								<button type="submit" name="add" class="btn btn-primary">tambah jabatan</button>
								<button type="submit" name="delete" class="btn" th:value="${iterStat.index}" th:style="${iterStat.count} == 1 ? 'display:none' : '' ">hapus jabatan</button>
							</span>
						</td>
					</tr>
					
				</tbody>
			</table>
			
			<button class="btn btn-primary btn-lg" type="submit">Ubah</button>
		</form>
	</div>
</body>
<script th:inline="javascript">
	$('#provinsi').change(
	     function() {
	    	 console.log($(this).val())
	         $.getJSON("/instansi/getInstansiFromProvinsi", {
	             idProvinsi : $(this).val(),
	             ajax : 'true'
	         }, function(data) {
	             var html = '<option value="">Pilih Instansi</option>';
	             var len = data.length;
	             for ( var i = 0; i < len; i++) {
	                 html += '<option value="' + data[i].id + '">'
	                         + data[i].nama + '</option>';
	             }
	             html += '</option>';
	             $('#instansi').html(html);
	             console.log("change");
	         });
	     });
</script>
</html>